<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Eventra</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><NavLink href="/" class="nav-link">Home</NavLink></li>
                <li class="nav-item"><NavLink href="/about" class="nav-link">About</NavLink></li>
                <li class="nav-item"><NavLink href="/events" class="nav-link">Events</NavLink></li>
                <li class="nav-item"><NavLink href="/register" class="nav-link">Registration</NavLink></li>
                <li class="nav-item"><NavLink href="/login" class="nav-link">Login</NavLink></li>
                <li class="nav-item"><NavLink href="/contact-us" class="nav-link">Contact Us</NavLink></li>
                <li class="nav-item"><NavLink href="/profile" class="nav-link">Profile</NavLink></li>

            </ul>
        </div>
    </div>
</nav>
